<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.evconsole"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.easivend.app.maintain.MaintainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.easivend.app.maintain.Login"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.easivend.app.maintain.AddInaccount"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.easivend.app.maintain.HuodaoTest"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.easivend.app.maintain.GoodsManager"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.easivend.app.maintain.GoodsProSet"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.easivend.app.maintain.ParamManager"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.easivend.app.maintain.ZhifubaoTest"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.easivend.app.maintain.WeixingTest"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.easivend.app.maintain.HuodaoSet"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.easivend.view.GoodsSelect"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.easivend.app.maintain.Order"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.easivend.chart.Stack"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.easivend.chart.Line"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.easivend.app.maintain.LogOpt"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        
       
        <activity
            android:name="com.easivend.app.business.Business"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.easivend.app.business.BusgoodsClass"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.easivend.app.business.Busgoods"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.easivend.app.business.BusgoodsSelect"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.easivend.app.business.BusZhiSelect"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.easivend.app.business.BusZhiAmount"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.easivend.app.business.BusZhier"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.easivend.app.business.BusZhiwei"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.easivend.app.business.BusHuo"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <receiver android:name="com.easivend.view.BootBroadcastReceiver">
	        <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED" />
		        <category android:name="android.intent.category.HOME" />
	        </intent-filter>
	    </receiver>
    </application>
	<!--往sdcard中写入数据的权限 -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	 <!--在sdcard中创建/删除文件的权限 -->
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
	<!--访问INTERNET的权限 -->
	<uses-permission android:name="android.permission.INTERNET"/>
	<!--开机自启动的权限 -->
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
</manifest>
