<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.evconsole"
    android:versionCode="39"
    android:versionName="3.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.easivend.app.maintain.MaintainActivity"
            android:label="@string/app_name" 
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.easivend.app.maintain.Login"
            android:label="@string/app_name" 
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation">
        </activity>
        <activity
            android:name="com.easivend.app.maintain.AddInaccount"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.easivend.app.maintain.HuodaoTest"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.easivend.app.maintain.GoodsManager"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation">
        </activity>
        <activity
            android:name="com.easivend.app.maintain.GoodsProSet"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.easivend.app.maintain.ParamManager"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.easivend.app.maintain.OpendoorTest"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.easivend.app.maintain.CahslessTest"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.easivend.app.maintain.ZhifubaoTest"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.easivend.app.maintain.WeixingTest"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>   
        <activity
            android:name="com.easivend.app.maintain.YinlianTest"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>          
        <activity
            android:name="com.easivend.app.maintain.PrintTest"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>   
        <activity
            android:name="com.easivend.app.maintain.HuodaoSet"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.easivend.view.GoodsSelect"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.easivend.app.maintain.Order"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.easivend.chart.Stack"
            android:label="@string/app_name" 
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation">
        </activity>
        <activity
            android:name="com.easivend.chart.Line"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan" 
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation">
        </activity>
        <activity
            android:name="com.easivend.app.maintain.LogOpt"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
               
        
        <activity
            android:name="com.easivend.app.business.BusPort"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>        
        <activity
            android:name="com.easivend.app.business.BusLand"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.easivend.view.PassWord"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.easivend.app.business.BusTishi"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.easivend.app.business.BusgoodsClass"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.easivend.app.business.Busgoods"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.easivend.app.business.BusgoodsSelect"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>        
        <activity
            android:name="com.easivend.app.business.BusZhiAmount"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.easivend.app.business.BusZhier"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.easivend.app.business.BusZhiwei"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.easivend.app.business.BusZhipos"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.easivend.app.business.BusZhitihuo"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation" >
        </activity>
        <activity
            android:name="com.easivend.app.business.BusHuo"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
            android:screenOrientation="sensor"
            android:configChanges="keyboardHidden|orientation">
        </activity>        
        <receiver android:name="com.easivend.view.BootBroadcastReceiver">
	        <intent-filter>
		        <action android:name="android.intent.action.BOOT_COMPLETED" />
		        <category android:name="android.intent.category.HOME" />
	        </intent-filter>
	    </receiver>
	    <receiver
			android:name="com.easivend.view.AlarmReceiver"
			android:enabled="true" 
			android:process=":remote">
			<intent-filter>
				<action android:name="setalarm" />
			</intent-filter>
		</receiver>
		<receiver
			android:name="com.easivend.view.ShutdownAlarmReceiver"
			android:enabled="true" 
			android:process=":remote">
			<intent-filter>
				<action android:name="shutdownalarm" />
			</intent-filter>
		</receiver>
		<receiver android:name="com.easivend.view.WifiChangeBroadcastReceiver"/> 
		
	    <service
            android:name="com.easivend.view.DogService"/>
	    <service
            android:name="com.easivend.view.EVServerService"/>
	    <service
            android:name="com.easivend.view.COMService"/>
	    <service
            android:name="com.easivend.view.AlarmService"/>
	    <service
            android:name="com.easivend.view.MobileService"/>
    </application>
    <!--允许改变配置信息的权限 -->
    <uses-permission android:name = "android.permission.CHANGE_CONFIGURATION"></uses-permission>
	<!--往sdcard中写入数据的权限 -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	 <!--在sdcard中创建/删除文件的权限 -->
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<!--访问INTERNET的权限 -->
	<uses-permission android:name="android.permission.INTERNET"/>
	<!--开机自启动的权限 -->
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
	<!--搜索得到正在运行的应用的权限 -->
	<uses-permission android:name="android.permission.GET_TASKS" />
	<!--蓝牙设备的权限 -->
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<!--蓝牙设备管理权限 -->
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />  
	<!--蓝牙设备读取权限 -->
	<uses-permission android:name="android.permission.READ_CONTACTS"/> 
	<!--bugly的权限 -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_LOGS" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/> 
</manifest>
